.sectionHeader{


    height: 60px;
    background-color: #DD141D;
    text-align: center;
}
.logo{
    width: 251px;
    height: 25px;
    vertical-align:top;
    padding-left: 15px;
    padding-right: 15px

}
.close{
    height:35px;
    bottom: 20px;
    padding-left: 10px;
    padding-top: 13px;
    vertical-align:bottom;
}
.sectionUser{
    background-color:#D9D9D9;


    color: #575757;
}
.nameUser{
    display: flex;
    justify-content: center;
    font-family: Roboto ;
    font-size: 15px;
    font-weight: bold;
}
.p{
    color: #575757;
}
.menuIcon{
    width: 75%;
    padding-left: 3%;
}
.sectionName{
    float:left;
    padding-left: 3%;
    vertical-align: center;
    line-height: 3px;
}
.sectionSelector{
    float:left;
    padding-left: 3%;
    background-color: #D9D9D9;
    height: 30px;
    width: 100%;
}
.sectionTitle{
    font-size: 14px;
    color: #000000;
    line-height: 0.5;
    padding-left: 3%
}
.sectionDescription{
    font-size: 12px;
    color: #000000;
    line-height: 0;
    padding-left: 3%
}
.buttonBack{
    width: 200%;
    padding-left: 3%;
    vertical-align: top;
}
.divButtonBack{
    background-color:#EAEAEA;
    height: 60px;
    width: 100%;
    padding-left: 15px;
}
.textBack{
    float: left;
    padding-left: 30px;
    padding-top: 1%;
    color: #575757;
    font-size: 18px;
    vertical-align: top
}


